nav {
    box-shadow: 0 -5px 20px 0 #ffffffb0;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}
.nav-full {
    justify-content: space-around;
    height: 5rem;
    transition: all 0.2s ease-out;
}
.nav-shrink {
    padding: 0 3rem 0 3rem;
    justify-content: space-between;
    height: 3.8rem;
    transition: all 0.2s ease-in;
}
.nav-brand {
    padding: 0.8rem;
}
.brand-icon {
    height: 3.5rem;
    margin-top: -0.6rem;
}
.brand-icon-full {
    height: 3.5rem;
}
.nav-list {
    display: inline-flex;
}
.nav-full .nav-item {
    margin-top: 0.2rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
}
.nav-shrink .nav-item {
    margin-top: 0;
    padding: 1rem;
}
.nav-item {
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    color: white;
    font-weight: 900;
    font-family: "Audiowide", 'Arial', 'sans-serif';
    letter-spacing: 0.1rem;
}
.nav-list > li {
    float: left;
    position: relative;
}
.nav-item.active a::after {
    border-bottom: 3px solid white;
    bottom: -0.3rem;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    border-radius: 10px;
}
.nav-item a:hover::after{
    border-bottom: 3px solid white;
    bottom: -0.3rem;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    border-radius: 10px;
    animation: active 0.3s alternate both ease-in;
}
@keyframes active {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.brand-icon-mobile {
    height: 3.5rem;
    margin-top: -0.6rem;
}
@media only screen and (max-width: 768px) {

    .hide-on--mobile {
        display: none;
    }
    .hide-on--desktop {
        display: block;
    }
    .nav-full,
    .nav-shrink,
    nav {
        padding: 0 1rem 0 1rem;
        justify-content: space-between;
        height: 3.8rem;
        transition: all 0.2s ease-in;
    }
    #brand-icon-full {
        display: none;
    }
}
@media only screen and (min-width: 769px) {

    .hide-on--mobile {
        display: block;
    }
    .hide-on--desktop {
        display: none;
    }
}
.sidebar-trigger .times{
    color: white;
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.sidebar-trigger.close .times{
    animation: times-fwd 0.3s forwards ease-in;
}
.sidebar-trigger.close .menu{
    animation: menu-fwd 0.3s forwards ease-in;
}
@keyframes times-fwd {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: rotate(45deg);
        opacity: 0.5;
        display: block;
    }
    to {
        transform: rotate(90deg);
        opacity: 1;
    }
}
@keyframes menu-fwd {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    50% {
        transform: translateX(10px);
        opacity: 0.5;
        display: none;
    }
    to {
        transform: translateX(20px);
        opacity: 0;
    }
}
.sidebar-trigger.open .times{
    animation: times-bck 0.3s forwards ease-in;
}
.sidebar-trigger.open .menu{
    animation: menu-bck 0.3s forwards ease-in;
}
@keyframes times-bck {
    from {
        transform: rotate(90deg);
        opacity: 1;
    }
    50% {
        transform: rotate(45deg);
        opacity: 0.5;
        display: none;
    }
    to {
        transform: rotate(0deg);
        opacity: 0;
    }
}
@keyframes menu-bck {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    50% {
        transform: translateX(10px);
        opacity: 0.5;
        display: block;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.sidebar {
    height: calc(100vh - 3rem);
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
    overflow: hidden;
}
.sidebar-mobile {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.sidebar-mobile.close {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
}
.sidebar-mobile a::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    border-radius: 10px;
    border-bottom: 3px solid white;
    width: 50%;
    margin-left: 6rem;
    margin-top: 1.5rem;
}
.sidebar-mobile ol {
    counter-reset: listNumbering;
}
.sidebar-mobile li {
    counter-increment: listNumbering;
}
.sidebar-mobile li:before {
    content: counter(listNumbering,decimal) " ";
    font-size: 3em;
    color: white;
}
.sidebar-mobile .nav-item {
    padding: 1rem;
    font-family: "Source Code Pro", 'Arial', 'sans-serif';
}